<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClinicSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ClinicSystem.Properties.Settings.Db_BNHConnectionString"
            connectionString="Data Source=USCMPPAJADHAV3\SQLEXPRESS;Initial Catalog=Db_BNH;Integrated Security=True" />
    </connectionStrings>
    <userSettings>
        <ClinicSystem.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>USCMPPAJADHAV3\SQLEXPRESS</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=USCMPPAJADHAV3\SQLEXPRESS;Initial Catalog=Db_BNH;Integrated Security=True</value>
            </setting>
            <setting name="UsernameForReport" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="OldBillsPath" serializeAs="String">
                <value>C:\SSH_OLD_BILLS</value>
            </setting>
            <setting name="PasswordForReport" serializeAs="String">
                <value>Admin123</value>
            </setting>
        </ClinicSystem.Properties.Settings>
    </userSettings>
</configuration>